{
   margin:0;
   padding:0;
font-family:sans-serif;
background : blue;
}
.logo1{
width : 1500px;
cursor : pointer;
}
.logo2{
width :1500px;
cursor : pointer;
}
.logo3{
width : 1500px;
cursor : pointer;
}
.logo4{
width : 1500px;
cursor : pointer;
}
.logo5{
width : 1500px;
cursor : pointer;
}
.logo6{
width : 1500px;
cursor : pointer;
}
.logo7{
width : 1500px;
cursor : pointer;
}
.navbar ul li{
list-style : none;
display : in-line grid;
float : center ;
margin: 100px ;
text-align : center;
position : relative;
text-size : 300%;
}
.navbar ul li a{
text-decoration : none;
color : black;
text-transform : uppercase;
}
