{
   margin:0;
   padding:0;
font-family:sans-serif;
background : blue;
}
.logo1{
 width : 100%;
cursor : pointer;
left : 50px;
}
.logo2{
 width : 100%;
cursor : pointer;
left : 50px;
}
.logo3{
 width : 100%;
cursor : pointer;
left : 50px;
}
.logo4{
 width : 100%;
cursor : pointer;
left : 50px;
}
.logo5{
 width : 100%;
cursor : pointer;
left : 50px;
}
.logo6{
 width : 100%;
cursor : pointer;
left : 50px;
}
.logo7{
 width : 100%;
cursor : pointer;
left : 50px;
}
.navbar ul li{
list-style : none;
display : in-line grid;
float : center ;
margin: 100px ;
text-align : center;
position : relative;
text-size : 300%;
}
.navbar ul li a{
text-decoration : none;
color : black;
text-transform : uppercase;
}
