*{
   margin:0;
   padding:0;
font-family:arial bold italic;
}
.banner{
       width:100%;
       height:100vh;
       background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(https://pbs.twimg.com/media/Fcl6JLPaUAMSglK?format=jpg&name=4096x4096);
       background-size:cover;
       background-repeat:no-repeat;
background-attachment : fixed;
       background-position:70%;
       background-quality:hd;
}
.logo{
width : 120px;
cursor : pointer;
}
.navbar ul li{
list-style : none;
display : inline-block ;
float : center ;
margin: 30px ;
text-align :  center;
position : relative;
}
.navbar ul li a{
text-decoration : none;
color : black;
text-transform : uppercase;
}
.navbar ul li:after{
content : '';
height : 5px;
width : 0 ;
position: absolute ;
background-color : green;
left : 0;
bottom : -5px ;
transition : 0.5 seconds;
}
.navbar ul li:hover::after{
width : 100%;
}

.content{
width:100%;
position : absolute;
left : 10px;
top: 100%;
transform=translateY(-30%);
text-align:center;
color:black;
font : bold;
}
